---
permalink: /tags/
layout: layouts/home.njk
title: All tags
---
<div class="row">
{% set tags = collections.tagList %}
{% set hide_tag_label = 1 %}
{% include './_includes/layouts/partial_tags.njk' %}
</div>
