---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

<div class="row">
  <h3 class="col s12">
    Tagged <span class="chip">{{ tag }}</span>
  </h3>
</div>

<div class="row">
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
</div>

<div class="row">
  <span class="col s12">
    <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
  </span>
</div>
