---
layout: layouts/home.njk
title: Blog
description: Bits and pieces in text form
eleventyNavigation:
  key: Blog
  order: 3
---
<div class="row">
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>