---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="row">

  {% set postslist = collections.posts | head(-6) %}
  {% include "postslist.njk" %}

  <div data-href="{{ '/blog/' | url }}" class="col s12 m12 l12">
    <div class="card">
      <div class="card-content w-100 h-100 waves-effect center-align">
        
        <h5>
          <span>
            more posts
          </span>
          <i class="fas fa-chevron-right"></i>
        </h5>
      </div>
    </div>
  </div>

</div>
