---
layout: layouts/home.njk
title: Portfolio
description: Bits and pieces in photo form
eleventyNavigation:
  key: Portfolio
  order: 3
---

<div class="lightbox">
  <div class="loading">Loading ...</div>
</div>

<link rel="stylesheet" href="{{ '/css/lightbox.css' | url }}">
<script src="{{ '/js/lightbox.js' | url }}"></script>
