{% for post in postslist | reverse %}
<div data-href="{{ post.url | url }}" class="post-card col s12 m6 l4 mb-2">
  <div class="h-100 card postlist-item{% if post.url == url %} postlist-item-active{% endif %}">

    <div class="card-content waves-effect w-100 h-100 d-flex flex-column">
      {% if post.data.title %}
      <span class="card-title flex-grow-1">
        {{ post.data.title }}
      </span>
      {% endif %}

      <time class="postlist-date flex-grow-0" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      
      <div class="row flex-grow-0">
        {% set tags = post.data.tags %}
        {% set title = post.data.tags %}
        {% include './layouts/partial_tags.njk' %}
      </div>

    </div>
  </div>
</div>
{% endfor %}
