---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% if date or tags %}
<div class="row">

  {% if date %}
  <div class="col s12">
    <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </div>
  {% endif %}

  {% include './partial_tags.njk' %}
</div>
{% endif %}

<div class="row">
  <div class="col s12 markdown-body">
  {{ content | safe }}
  </div>
</div>

